<?php
/**
 * @var Dev\Storelocator\Block\Index $block
 */

?>

<div>
    <h1>Welcome to Storelocator!</h1>
</div>

<button class="action primary"
        data-mage-init='{"redirectUrl": {"event": "click", "url": "http://store.loc/develop/show/show"}}'
        type="button"
        title="Redirect Button">
    <span>Redirect Button</span>
</button>
