<?php
/**
 * @var \Dev\Storelocator\Block\Show $block
 */
?>

<h4><?php

    foreach ($block->getStoreCollection()  as $item){
        echo 'Id: '.$item['entity_id'].'<br>';
        echo 'Country: '. $item['country'].'<br>';
        echo 'City: '. $item['city'].'<br>';
        echo 'Street address: '. $item['street_address'].'<br>';
        echo 'Store: '. $item['store'].'<br><br>';
    }

//    $store = $block->getStoreCollection();
//
//    for ($i=0; $i<=$store->count(); $i++)
//        {
//            echo ($i+1);
//            echo 'Id: '.$store[$i]['entity_id'].'<br>';
//            echo 'Country: '. $store[$i]['country'].'<br>';
//            echo 'City: '. $store[$i]['city'].'<br>';
//            echo 'Street address: '. $store[$i]['street_address'].'<br>';
//            echo 'Store: '. $store[$i]['store'].'<br><br>';
//
//        }

    ?>
</h4>


